:root {
  --baby-blue: #92cccd;
  --blue: #445876;
  --dark-grey: #31343d;
  --transition: all 0.3s ease 0s;
  --light-background: #ededf6;
}
* {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
  transition: var(--transition);
}

body,
html,
.image-container img {
  height: 100%;
  width: 100%;
}
/* 100% width */
header,
.hero,
main {
  width: 100%;
}
/* 100% height */
.avatar,
.navigation,
.image-container {
  height: 100%;
}
/* display flex */
body,
main,
header,
.navigation,
.content,
.content ul,
.image-container {
  display: flex;
}
/* align-items center */
.navigation,
.content > :nth-child(2) {
  align-items: center;
}

/* position relative */
.my-info,
.avatar,
.hero,
.subtitle,
.image-container figure,
.image-subtitle {
  position: relative;
}

/* inline-block */
.navigation li,
.image-subtitle {
  display: inline-block;
}
body {
  flex-flow: row wrap;
  background-color: var(--light-background);
}
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

main {
  flex-flow: column wrap;
  justify-self: center;
}

/* Beginning of the header selectors */
header {
  height: 100px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-grey);
  position: relative;
  min-height: 105px;
}

header h1,
.content {
  color: var(--blue);
}

.my-info {
  height: 90%;
  min-width: 400px;
  align-self: flex-start;
  padding: 20px 40px 20px 20px;
  background-color: var(--baby-blue);
}

.avatar {
  width: auto;
  top: -50px;
  left: 290px;
}
.navigation {
  margin-right: 20px;
}

.navigation li {
  margin-right: 10px;
}

.header-links {
  color: var(--baby-blue);
  font-size: 1.5rem;
  padding: 5px;
}
/* End of the header selectors */

/* Background image */
.hero {
  height: 200px;
  margin-bottom: 25px;
  background-image: url("../images/stock-image.jpg");
  background-size: cover;
  background-position: center;
}

.subtitle {
  float: right;
  background-color: var(--baby-blue);
  top: 75%;
  padding: 5px;
  margin: 0px 10px 10px 0px;
}

.content {
  width: 95%;
  margin-bottom: 2%;
  line-height: 1.5;
}

.content h2 {
  width: 15%;
  text-align: right;
  padding: 15px;
  min-width: 165px;
}
.content > :nth-child(2) {
  width: 85%;
  border-left: var(--blue) solid;
  padding-left: 20px;
  justify-content: space-around;
}

.image-container {
  flex-flow: row wrap;
}

.image-container figure {
  width: 48%;
  height: 25%;
  margin-bottom: 1%;
  max-height: 350px;
}

#first-image {
  height: 50%;
  width: 98%;
  max-height: 500px;
}

.image-subtitle {
  left: 0%;
  bottom: 8em;
  background-color: var(--baby-blue);
  padding: 5px;
  max-width: 180px;
}

.image-container img {
  border: var(--baby-blue) solid 5px;
  opacity: 0.5;
}

.image-container img:hover {
  opacity: 1;
}
/* End of the content section, about us, work and contacts */

/* footer */
footer ul li a {
  padding-bottom: 30px;
  font-size: 1.1rem;
}

/* Tablet display */
@media screen and (max-width: 996px) {
  .my-info,
  .navigation {
    width: 100%;
    height: 50%;
  }

  /* changes the header into column so that it fits tablet viewport */
  header {
    height: 212px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .my-info {
    min-width: 0;
    text-align: center;
  }

  .avatar {
    left: 185px;
    top: -55px;
  }

  .navigation {
    margin: 0;
    justify-content: center;
  }
}

/* Mobile display */
@media screen and (max-width: 768px) {
  /* 100% width */
  .my-info,
  .content,
  .content h2,
  .content ul li,
  .image-container figure,
  #first-image {
    width: 100%;
  }

  .image-container figure,
  #first-image {
    height: 20%;
    max-height: 300px;
  }
  /* changes header so that it fits mobile viewport */
  header {
    display: flex;
    height: 300px;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
  }

  .my-info {
    height: 40%;
    text-align: center;
    align-self: flex-start;
  }

  .avatar {
    left: 185px;
    top: -55px;
  }
  /* rearrange list so that it's top down instead of side by side by increasing the height*/
  .navigation {
    margin: 0;
    height: 60%;
  }
  /* rearrange list so that it's top down instead of side by side with display block */
  .navigation li {
    text-align: center;
    padding-bottom: 5px;
    margin: 0;
    display: block;
  }
  /* rearrange flex direction to column so that the title appears above the content */
  .content {
    flex-direction: column;
    align-items: center;
  }

  .content h2 {
    text-align: center;
  }
  .content > :nth-child(2) {
    border-left: none;
    padding-left: 0px;
    padding-top: 20px;
    border-top: var(--blue) solid;
  }

  .content ul {
    display: block;
  }

  .content ul li {
    height: 30px;
    text-align: center;
  }

  .image-container {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
